<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inujini_.hatate"
    android:versionCode="9"
    android:versionName="1.2.0β" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name="inujini_.hatate.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="inujini_.hatate.LicenseActivity" />

        <activity android:name="inujini_.hatate.OauthActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="myapp" android:host="hatate"/>
            </intent-filter>
        </activity>

        <activity android:name="inujini_.hatate.NotificationActivity" />

        <activity android:name="inujini_.hatate.GachaActivity" />

        <activity android:name="inujini_.hatate.SpellCardHistoryActivity" />

        <receiver android:name="inujini_.hatate.service.Houtyou" android:process=":remote"/>
        <receiver android:name="inujini_.hatate.service.OneMoreLovely" android:process=":remote"/>

        <receiver android:name="inujini_.hatate.service.RebootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="inujini_.hatate.service.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service android:name="inujini_.hatate.service.Kill" android:exported="false" />
    </application>

</manifest>
