<?xml version="1.0" encoding="utf-8"?>
<!--
    HatateHoutyouAlarm
    Copyright (c) 2014 @inujini_ (https://twitter.com/inujini_)

    This software is released under the MIT License.
    http://opensource.org/licenses/mit-license.php
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inujini_.hatate"
    android:versionCode="19"
    android:versionName="1.2.7" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="inujini_.hatate.AppHatate" >

        <!-- Activities -->
        <activity android:name="inujini_.hatate.OnStartActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="inujini_.hatate.MainActivity" />

        <activity android:name="inujini_.hatate.LicenseActivity"
            android:label="@string/title_license" />

        <activity android:name="inujini_.hatate.OauthActivity"
            android:label="@string/title_oauth">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="oauth" android:host="callback"/>
            </intent-filter>
        </activity>

        <activity android:name="inujini_.hatate.NotificationActivity"
            android:label="@string/title_notification" />

        <activity android:name="inujini_.hatate.GachaActivity"
            android:label="@string/title_gacha" />

        <activity android:name="inujini_.hatate.SpellCardHistoryActivity"
            android:label="@string/title_spellcard_history" />

        <activity android:name="inujini_.hatate.AccountListActivity"
            android:label="@string/title_account_list" />

        <activity android:name="inujini_.hatate.SpellCardLibraryActivity"
            android:label="@string/title_spellcard_library"/>

        <activity android:name="inujini_.hatate.WeatherActivity"
            android:label="@string/title_weather"/>

        <!-- BroadcastReceivers -->
        <receiver android:name="inujini_.hatate.service.Houtyou" android:process=":remote"/>
        <receiver android:name="inujini_.hatate.service.OneMoreLovely" android:process=":remote"/>

        <receiver android:name="inujini_.hatate.service.RebootReceiver"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="inujini_.hatate.service.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <service android:name="inujini_.hatate.service.Kill" android:exported="false" />

        <service android:name="inujini_.hatate.service.OauthService" android:exported="false" />

        <service android:name="inujini_.hatate.service.RepeatYoService" android:exported="false" />

    </application>

</manifest>
